@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
    margin: 0px;
    font-family: 'Odibee Sans', 'Sans Serif';
    background-color: #fdfff5;
}

#content {
    background-color: #fdfff5;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    flex-direction: column;
    gap: max(20px, 4vmax);
    font-size: min(2vmax, 20px);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(5px, 2vw);
    font-size: min(2.2vmax, 30px);
    text-decoration: underline;
    text-underline-offset: 17%;
    background-color: #00000066;
    width: 100%;
    height: max(10px, 8vh);
}


.homepage-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2vmax;
}

.homepage-title {
    font-size: 5.6vmax;
}

.footer {
    width: 100%;
    height: max(20px, 8vh);
    background-color: #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: min(2vmax, 20px);
}

.name {
    font-size: 4vmax;
}

.selection-title {
    font-weight: bolder;
    text-decoration: underline;
}

.bowl-list, .cereal-container, .milks-container, .bowl-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(3vmax, 25px);
}

.cereal-container, .milks-container, .bowl-container {
    flex-direction: column;
}

.cereal-list {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    gap: min(3vmax, 25px);
    margin: 2%;
}

.milk-list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: min(3vmax, 25px);
}